src/main/mule/FlowsDemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="FlowUriParam" doc:id="00813401-71bf-4b80-a89d-2a9dfca381fa" >
		<http:listener doc:name="Listener" doc:id="f5a203cc-7c91-4e8e-a5df-ba4d8a95b0b3" config-ref="HTTP_Listener_config" path="/flowA/{name}"/>
		<set-variable value='#["I am" ++ " "++ message.attributes.uriParams.name as String]' doc:name="Set Variable" doc:id="8fe9c147-19c3-4045-a9fa-f865663c6089" variableName="flowA_variable"/>
		<flow-ref doc:name="Flow Reference" doc:id="22f12921-961a-41b4-8516-3595b3566a48" name="FlowQueryParam"/>
		<set-payload value='#[vars.flowA_variable ++" "++ payload]' doc:name="Set Payload" doc:id="a6035a7b-800a-4cea-ba05-19d6484cc44a" />
	</flow>
	<flow name="FlowQueryParam" doc:id="c12d1952-69b4-44c2-a399-98a80598a19f" >
		<http:listener doc:name="Listener" doc:id="48b4db3a-c7c6-44bb-ad10-52049bb6a93d" config-ref="HTTP_Listener_config" path="/flowB"/>
		<set-variable value='#["from city: " ++ " " ++ attributes.queryParams.city as String ++ " " ++"State : Andra Pradesh and Country : India."]' doc:name="Set Variable" doc:id="0b2e75e2-1c33-4da0-a5c1-977b650e1740" variableName="flowB_variable"/>
		<set-payload value="#[vars.flowB_variable]" doc:name="Set Payload" doc:id="2b90fce7-e781-4c97-96ec-f4d35c6cb6d6" />
	</flow>
</mule>
